<h1>Profile</h1>

<h1>Potential Huggles</h1>

<form action="">
  <input type="hidden" name="lat" id="lat"/>
  <input type="hidden" name="lng" id="lng"/>
</form>

<div id="map-container">
  <div id="map-canvas">
  </div>
</div>